In [1]:
pip install pandas==1.2.5

Collecting pandas==1.2.5
  Using cached pandas-1.2.5.tar.gz (5.5 MB)
  Installing build dependencies ... done
  Getting requirements to build wheel ... error
  error: subprocess-exited-with-error

  × Getting requirements to build wheel did not run successfully.
  │ exit code: 1
  ╰─> [22 lines of output]
      Error in sitecustomize; set PYTHONVERBOSE for traceback:
      AssertionError:
      <string>:438: DeprecationWarning: distutils Version classes are deprecated. Use packaging.version instead.
      Traceback (most recent call last):
        File "/usr/local/lib/python3.10/site-packages/pip/_vendor/pep517/in_process/_in_process.py", line 351, in <module>
          main()
        File "/usr/local/lib/python3.10/site-packages/pip/_vendor/pep517/in_process/_in_process.py", line 333, in main
          json_out['return_val'] = hook(**hook_input['kwargs'])
        File "/usr/local/lib/python3.10/site-packages/pip/_vendor/pep517/in_process/_in_process.py", line 118, in get_requires_for_build_wheel
          return hook(config_settings)
        File "/usr/local/Cellar/python@3.10/3.10.9/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/setuptools/build_meta.py", line 338, in get_requires_for_build_wheel
          return self._get_build_requires(config_settings, requirements=['wheel'])
        File "/usr/local/Cellar/python@3.10/3.10.9/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/setuptools/build_meta.py", line 320, in _get_build_requires
          self.run_setup()
        File "/usr/local/Cellar/python@3.10/3.10.9/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/setuptools/build_meta.py", line 484, in run_setup
          super(_BuildMetaLegacyBackend,
        File "/usr/local/Cellar/python@3.10/3.10.9/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/setuptools/build_meta.py", line 335, in run_setup
          exec(code, locals())
        File "<string>", line 761, in <module>
        File "<string>", line 731, in setup_package
        File "<string>", line 496, in maybe_cythonize
      RuntimeError: Cannot cythonize without Cython installed.
      [end of output]

  note: This error originates from a subprocess, and is likely not a problem with pip.
error: subprocess-exited-with-error

× Getting requirements to build wheel did not run successfully.
│ exit code: 1
╰─> See above for output.

note: This error originates from a subprocess, and is likely not a problem with pip.

[notice] A new release of pip available: 22.3.1 -> 23.1.2
[notice] To update, run: python3.10 -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [ ]:
import pandas as pd
 
# from  pyspark library import
# SparkSession
from pyspark.sql import SparkSession
 
# Building the SparkSession and name
# it :'pandas to spark'
spark = SparkSession.builder.appName(
  "pandas to spark").getOrCreate()
 
# Create the DataFrame with the help
# of pd.DataFrame()
data = pd.DataFrame({'State': ['Alaska', 'California',
                               'Florida', 'Washington'],
                      
                     'city': ["Anchorage", "Los Angeles",
                              "Miami", "Bellevue"]})

In [ ]:
data

In [ ]:
df_spark = spark.createDataFrame(data)

In [1]:
import pandas as pd
 
# Creating the DataFrame
df = pd.DataFrame({'Weight':[45, 88, 56, 15, 71],
                'Name':['Sam', 'Andrea', 'Alex', 'Robin', 'Kia'],
                'Age':[14, 25, 55, 8, 21]})
 
# Create the index
index_ = ['Row_1', 'Row_2', 'Row_3', 'Row_4', 'Row_5']
 
# Set the index
df.index = index_
 
# Print the DataFrame
print(df)

       Weight    Name  Age
Row_1      45     Sam   14
Row_2      88  Andrea   25
Row_3      56    Alex   55
Row_4      15   Robin    8
Row_5      71     Kia   21

In [6]:
df.loc[:,['Weight','Age']]

       Weight  Age
Row_1      45   14
Row_2      88   25
Row_3      56   55
Row_4      15    8
Row_5      71   21

In [12]:
(df.loc[:,['Weight','Age']].corr().to_numpy())[0][1]

0.37628432954679925

In [14]:
(df.loc[:,['Weight','Age']].corr('spearman').to_numpy())[0][1]

0.7

In [15]:
df.loc[:,['Weight','Age']].corr()

          Weight       Age
Weight  1.000000  0.376284
Age     0.376284  1.000000

In [25]:
df.to_numpy().tolist()

[[45, 'Sam', 14],
 [88, 'Andrea', 25],
 [56, 'Alex', 55],
 [15, 'Robin', 8],
 [71, 'Kia', 21]]

In [26]:
import numpy as np

In [27]:
np.array(df.to_numpy().tolist())

array([['45', 'Sam', '14'],
       ['88', 'Andrea', '25'],
       ['56', 'Alex', '55'],
       ['15', 'Robin', '8'],
       ['71', 'Kia', '21']], dtype='<U21')